.Menu {
  background-color: #5383e8;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid #4171d6;
}

.nerfgg-menu {
  list-style-type: none;
  margin: 0;
}

@media (max-width: 768px) {
  .nerfgg-menu {
    padding-left: 0;
  }
}

.Menu li {
  float: left;
}

.Menu li a {
  display: block;
  color: #cdcdcd;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-weight: 600;
}

.Menu .nerfgg-menu-item .active{
  color: #ffffff;
  font-weight: 700;
  height: 47px;
  border-bottom: 4px solid #ffffff;
}

.Menu .nerfgg-menu-item a:hover {
  color: #ffffff;
  font-weight: 700;
  height: 47px;
  border-bottom: 4px solid #ffffff;
}