.GameItem {
  height: 100px;
  width: 700px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  color: #1f1f1f;
  font-size: 11px;
}

.GameItem.Win {
  border: 1px solid #99b9cf;
  background-color: #a3cfec;
}

.GameItem.Fail {
  border: 1px solid #cea7a7;
  background-color: #e2b6b3;
}

.GameStats {
  text-align: center;
  width: 6em;
  margin: auto 0;
}

.GameStats .GameType {
  font-weight: 700;
}

.GameResult.Win {
  font-weight: 700;
  color: #1a78ae;
}

.GameResult.Fail {
  font-weight: 700;
  color: #c6443e;
}

.GameStats .Bar {
  width: 2em;
  border: 0.5px solid gray;
}

.GameSettingInfo {
  text-align: center;
  width: 8em;
  margin: auto 0;
}

.GameSettingInfo .ChampionImg {
  width: 4em;
  border-radius: 2em;
}

.KDAScore {
  width: 8em;
  margin: auto 0;
  text-align: center;
  font-weight: 700;
}

.KDAScore .KDA {
  font-size: 15px;
  margin-bottom: 8px;
}

.Stats {
  text-align: center;
  width: 8em;
  margin: auto 0;
}

.Stats .CS {
  margin: 4px 0;
}

.Stats .PKRate {
  font-weight: 700;
  color: #c6443e;
}

.Items {
  margin: auto 0;
  width: 12em;
}

.Items table {
  margin: 0 auto;
}

.Items table img {
  width: 2em;
}

.Players {
  margin: auto 1em;
  width: 8em;
}

.Players ul {
  list-style: none;
  margin: 0 0;
  padding-left: 0;
  font-size: 12px;
}

.Players ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Players a {
  color: black;
  text-decoration: none;
}

.Players img {
  position: relative;
  top: 2.5px;
  width: 1.3em;
}

@media (max-width: 768px) {
  .GameItem {
    width: 100%;
  }

  .Players {
    display: none;
  }

}