.TierBox {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  height: 100px;
  padding: 10px;
  margin-bottom: 8px;
}

.tierImage {
  width: 100px;
  margin-right: 8px;
}

.tierInformation {
  font-size: small;
  display: inline;
  vertical-align: middle;
}

.queueType {
  font-size: smaller;
}