.Summary {
  padding: 1em 0;
  display: flex;
  flex-direction: row;
}

.Summary img {
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .Summary img {
    margin-left: 1em;
  }
}

.Summary .profile {
  font-size: large;
  font-weight: 700;
  margin-left: 1em;
}